{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 11"
        ]
      }
    }],
    "stage-0",
    "es2015"
  ],
  "plugins": [
    "transform-object-assign"
  ]
}

